body a {
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */ }

body {
  color: #434343;
  width: 100%;
  overflow-x: hidden; }

input:focus {
  outline: 0; }

.paddingAll {
  padding: 20px 0;
  display: block; }

.greyBg {
  background: #F8F8F8;
  border: 1px solid #dadada; }

.workoutName {
  background: #F8F8F8;
  border: 1px solid #dadada; }
  .workoutName input {
    background: none;
    border: 0;
    width: 100%;
    padding: 0;
    margin: 0; }
  .workoutName.active .glyphicon-chevron-right {
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all 0.2s "linear";
    -moz-transition: all 0.2s "linear";
    -ms-transition: all 0.2s "linear";
    -o-transition: all 0.2s "linear";
    transition: all 0.2s "linear"; }
  .workoutName .glyphicon-chevron-right {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    display: block;
    width: 13px; }

.showExercise {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  height: 100%;
  display: block !important;
  opacity: 1; }
  .showExercise.ng-hide {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    height: 0;
    opacity: 0;
    display: none !important; }

.row.exercises {
  background: #DFF7FE;
  opacity: 1;
  -webkit-opacity: 1;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  .row.exercises paddingAll {
    padding: 20px 0; }
  .row.exercises.ng-hide {
    opacity: 0;
    -webkit-opacity: 0;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .row.exercises.active .glyphicon-chevron-right {
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .row.exercises .glyphicon-chevron-right {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    display: block;
    width: 13px; }
  .row.exercises .exerciseSelect {
    margin-top: 20px; }
    .row.exercises .exerciseSelect input {
      border: 0;
      outline: 0;
      background: none;
      border-bottom: 1px solid #434343;
      box-shadow: 0 0 0;
      -webkit-box-shadow: 0 0 0;
      -moz-box-shadow: 0 0 0;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0; }
    .row.exercises .exerciseSelect .showMuscleFilters {
      padding: 20px 0;
      text-align: left;
      display: block; }

.row.sets {
  background: #FAFCFF;
  text-align: center !important;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  height: 100%; }
  .row.sets th {
    text-align: center !important; }
  .row.sets input {
    background: none;
    border: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center; }
  .row.sets.ng-hide {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    height: 0;
    opacity: 0;
    display: none; }

/*# sourceMappingURL=styles.css.map */
