<div class="row">
    <div class="col-md-12">
        <div class="row title">
            <div class="col-xs-12">
                <p>Jim's workout tracker</p>
            </div>
        </div>
        <div class="row greyBg">
            <div class="paddingAll">
                <div class="col-xs-4">
                    <a href="#/history">History</a>
                </div>
                <div class="col-xs-8">
                    <span>View and edit previous workouts</span>
                </div>
                <div class="clearfix visible-xs-block"></div>
            </div>
        </div>
         <div class="row greyBg">
            <div class="paddingAll">
                <div class="col-xs-4">
                    <a href="#/workouts">Workout routines</a>
                </div>
                <div class="col-xs-8">
                    <span>View and edit previous workout routines</span>
                </div>
                <div class="clearfix visible-xs-block"></div>
            </div>
        </div>

        <div class="row greyBg">
            <div class="paddingAll">
                <div class="col-xs-4">
                    <a href="#/track-workouts">Start workout</a>
                </div>
                <div class="col-xs-8">
                    <span>Begin tracking a workout</span>
                </div>
                <div class="clearfix visible-xs-block"></div>
            </div>
        </div>

        
</div>
</div>
<div class="row sets">
    <div class="paddingAll">
        <div class="col-xs-12">
            <br>
        </div>
    </div>
</div>
</div>
</div>
<div class="col-md-12" ng-show="workouts.length == 0">
    <div class="col-md-12">
        <h4>No workouts found</h4>
    </div>
</div>
</div>
