<div class="row">
    <div class="col-md-12">
        <div class="row title">
            <div class="col-xs-12">
                <a href="#/">Go Home</a>
                <p>Workout tracked on {{date}}</p>
            </div>
        </div>
       <div ng-include src="'../partials/workout-single.html'"></div>
    </div>
</div>
</div>
<div class="row sets">
    <div class="paddingAll">
        <div class="col-xs-12">
            <br>
        </div>
    </div>
</div>
</div>
</div>
<div class="col-md-12" ng-show="workouts.length == 0">
    <div class="col-md-12">
        <h4>No workouts found</h4>
    </div>
</div>
</div>
