<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="btn btn btn-primary" href="#/edit-exercise/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add New Workout</a>
            </div>
        </nav>
        <div ng-repeat="workout in workouts">
            <h2>{{workout.workoutName}} </h2>
            <div ng-repeat="exercise in workout.exercises">
                <div class="row">
                    <div class="col-xs-12">
                        <h3><span ng-model="exerciseName">{{exercise.exerciseName}}</span> </h3>
                    </div>
                    <div class="col-xs-12"> <span>Total Reps: {{totalReps($parent.$index, $index)}} - Total Sets: {{totalSets($parent.$index, $index)}} - 1RM: {{exercise.oneRepMax}}kg - average Reps :{{exercise.averageReps}} - total weight: {{exercise.totalWeight}}</span></div>
                    <div class="col-xs-12" ng-repeat="set in exercise.exercise_data" >
                        <p>Set: {{$index + 1}} - Reps: {{set.reps}} - Weight: {{set.weight}}kg</p>
                        <label for="reps">Reps:</label>
                        <input name="reps" type="number" placeholder="{{set.reps}}" ng-model="set.reps">
                        <br/>
                        <label for="weight">Weight:</label>
                        <input name="weight" type="number" placeholder="{{set.weight}}" ng-model="set.weight">
                        <button class="btn btn-success" ng-click="saveExerciseData($parent.$parent.$index, $parent.$index, $index)">Save</button>
                    </div>
                    <div class="col-xs-12">
                        <a ng-click="addSet($parent.$index, $index)" class="btn btn-primary">Add set</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <a ng-click="exerciseSelect = !exerciseSelect" class="btn btn-primary">Add exercise</a>
                    <div ng-show="exerciseSelect" ng-controller="exerciseListCtrl">
                        <span ng-bind="exerciseName"></span>
                        <span ng-repeat="d in muscleGroupsFilter">
                   
                        <button type="button" class="btn" ng-click="filters.muscleGroup = d.muscleGroup">
                            {{d.muscleGroup}}
                        </button>
                        </span>
                        <input type="text" class="form-control" ng-model="searchExerciseTerm" placeholder="Enter a letter to filter">
                        <button type="button" class="btn" ng-click="filters = {}" ng-show="filters.muscleGroup">{{filters.muscleGroup}} <span class="glyphicon glyphicon-remove"></span></button>
                        <table class="table table-striped table-bordered">
                            <thead>
                                <th>Exercise Name&nbsp;</th>
                                <th>Muscle Group&nbsp;</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in exercises | filter:filters | orderBy: 'exerciseName' | searchExercises:searchExerciseTerm">
                                    <td><a ng-click="addItem($parent.$index, data.exerciseName); filters = {} ; exerciseSelect = !exerciseSelect">{{data.exerciseName}}</a></td>
                                    <td><a ng-click="filters.muscleGroup = data.muscleGroup">{{data.muscleGroup}}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12" ng-show="workouts.length == 0">
    <div class="col-md-12">
        <h4>No workouts found</h4>
    </div>
</div>
</div>